body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
  }
  
  
  #menu {  
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  #menu-items{
    margin-left: clamp(2rem, 10vw, 24rem);
    position: relative;
    z-index: 2;
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 35%;
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 45%;
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 50%;
  }
  
  #menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 1;
  }
  
  #menu-background-image {
    background-image: url("website_bg_small.png");
    background-position: center 20%;
    background-size: 65vmax;
    background-repeat: no-repeat;
    height: 100%;
    left: 650px;  
    opacity: 0.80;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: calc(100% - 650px);
    z-index: 1;
  }
  
  #menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
  #menu-items:hover ~ #menu-background-image {
    background-size: 70vmax;
    opacity: 0.1;
  }
  
  #menu-items:hover > .menu-item {
    opacity: 0.3;
  }
  
  #menu-items:hover > .menu-item:hover {
    opacity: 1; 
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Bebas Neue', serif;
    font-size: clamp(2rem, 3vw, 4rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
    position: relative;
  }

  #sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }
  
  /* #menu-items:hover ~ #sub-menu {
  display: block;
  } */

  .sub-menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Bebas Neue', serif;
    font-size: clamp(2rem, 3vw, 4rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    margin-top: 5px;
    text-decoration: none;
    transition: opacity 400ms ease;
  }

  .logo {
    text-align: center;
  }
  
  /* Font used: Bebas Neue */
  
  .logo img {
    max-width: 160px;
    margin-top: 10px;

  }
  
  .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }
  

  
  .menu-item:hover + .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(10px);
    white-space: nowrap;
  }
  
  .sub-menu-item {
    display: block;
    white-space: nowrap;
    position: relative;
    left: 0;
    top: 0;
  }
  

  .sub-menu:hover > .sub-menu-item {
    opacity: 0.3;
  }
  
  .sub-menu:hover > .sub-menu-item:hover {
    opacity: 1; 
  }

  a {
    text-decoration: none;
    color: inherit; /* This will make the link color same as the normal text color */
}